body{
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    letter-spacing: 1.7px;
    line-height: 2;
    margin: 3% 10% 10% 10%;
    background-color: rgb(249, 240, 230);
}

nav{
    padding: 10px;
    text-align: center;
    word-spacing: 70px;
    /* margin-top: 2%; */
}

h1{
    /* text-align: center; */
    margin-top: 8%;
    margin-bottom: 6%;
}


